extends layout

block content
  .container-fluid
    main(role='main')
        .jumbotron
            h1
               | How do I educate my kids about computing?
            p.lead
                | Parents seem to be ain a mad rush to teach their kids abut Computing – technology companies are amongst the biggest in the world, and techies have not only accumulated crazy wealth but alos become cultural icons.  But most people don't understand what it really is.

            p.lead
                | I firmly believe that some level of Computing should be necessary to graduate, taught much earlier in schools, and be represented in the core curriculum just as literature, science, languages, math and science are.
            
            p.lead
                | I designed a series of mini courses with my daughters since they were 7-8 years old to help them understand computing.  In 2020 when I am launching IICS the older one is in college and younger one is in 8th grade.  This course benefits from what I learned along the way, and I hope it will benefit other kids and families, and dispel the many misconceptions about computing.

            .row
                .col-md
                    p
                      span.font-weight-bold.text-success Leadership at most Schools does not understand Computing.
                      | The vast majority of educators running educational organizations have never studied Computer Science at college level. 
            .row
                .col-md
                    p
                      span.font-weight-bold.text-success Most schools are woefully understaffed in Computing.  
                      | There is a typical token teacher (at most two) who teach technology – how to build websites, basic computer games and write basic programs.
            .row          
                .col-md
                    p
                      span.font-weight-bold.text-success Computer Science is still optional 
                      | One can graduate without learning any Computing!

        .div 
            .row
                .col-md
                    .card 
                        .card-body 
                            h5.card-title.text-primary Is it cool to learn Computing?
                            p.text-body
                                span To some extent Yes - because it is stylish to say that one is learning Computing and fun to make simple websites. No – because it gets math heavy and real programming sucks away time from friends.
                            p.text-body
                                span The challenge we face is – how do we discover our kids real passions and nurture them given the inadequacy of the school system??
                .col-md
                    .card 
                        .card-body 
                            h5.card-title.text-primary Is Coding same as Computing?
                            p.text-body
                                span No! Computing includes Artificial Intelligence (recommendation engines), Graphics (animations), Audio (streaming music), Weather Forecasting, Medical Imaging, Games and so much more.
                            p.text-body
                                span Our challege is to expose kids ot big ideas and think about real-life and interesting problems.
                


