extends layout

block content
  .container-fluid
    main(role='main')
        .jumbotron
            h1
               | How do I educate my daughters about computing?
            p.lead
                | We all want our kids to learn Computer Sciencefor it leads to money and fame.  But most people don't understand what it is.

            p.lead
                | I firmly believe that some level of Computing should be necessary to graduate, taught much earlier in schools, and be represented in the culture of education just as literature, science, languages, math and science are.
            
            p.lead
                | I designed a series of mini courses with my daughters since they were 7-8 years old to help them understand computing.  As of now (2020) the older one is college and younger one is in 8th grade.  This course benefits from what I learned along the way, and I hope it will benefit other kids and families and dispel the many misconceptions about computing.

            .row
                .col-md
                    p
                      span.font-weight-bold.text-success Leadership at most Schools don't understand Computing.
                      | The vast majority never studied Computer Science at college level. 
            .row
                .col-md
                    p
                      span.font-weight-bold.text-success Most schools are woefully understaffed in Computing.  
                      | There is a typical token teacher (at most two) who teach how to build websites and write basic programs.
            .row          
                .col-md
                    p
                      span.font-weight-bold.text-success Computer Science is still optional 
                      | One can graduate without learning any Computing!

        .div 
            .row
                .col-md
                    .card 
                        .card-body 
                            h5.card-title.text-primary Is it cool to learn Computing?
                            p.text-body
                                span In my experience the answer is yes and no. <br> Yes - because it is cool to say that one is learning Computing. <br>No – because it gets difficult, math heavy and real programming sucks away time from friends.
                .col-md
                    .card 
                        .card-body 
                            h5.card-title.text-primary Is Coding same as Computing?
                            p.text-body
                                span It is amazing to how many people computing is nothing more than programming. And furthermore, programming is nothing more building a website.
                            p.text-body
                                span Is like saying that the whole of writing is nothing more than writing tweets.
                .col-md
                    .card 
                        .card-body 
                            h5.card-title.text-primary Can't I just hire a programmer?
                            p.text-body 
                                span If I got a dollar for everytime I heard that would have made a lot by now!
                            p.text-body
                                span This thought results from not udnerstanding the breadth of computing and prgramming.



