extends layout

block content 
  .container
    h3 Admin Console
    form(class="form" method="POST" action="/users/register")
                    #error
                        if error
                            p.text-danger There has been an error. Please refresh and try again.
                    - var h4Classes = ['h4', 'mb-3', 'font-weight-normal', 'text-dark']
                    h4(class=h4Classes) Register a student
            
                    //-input name
                    label( for="student_name" class="sr-only") Student Name
                    input(type="student_name" name="student_name" id="student_name" class="form-control m-3 mr-2" placeholder="Enter student name" required autofocus)
            
                    //-input email
                    label(for="student_email" class="sr-only") Student Email
                    input(type="student_email" name="student_email" id="student_email" class="form-control m-3" placeholder="Enter student email" required)

                    //-input parent name
                    label(for="parent_name" class="sr-only") Parent Name
                    input(type="parent_name" name="parent_name" id="parent_name" class="form-control m-3" placeholder="Enter parent name" required)

                    //-input parent email
                    label(for="parent_email" class="sr-only") Parent Email
                    input(type="parent_email" name="parent_email" id="parent_email" class="form-control m-3" placeholder="Enter parent email" required)

                    //-input password
                    label(for="password" class="sr-only") Password
                    input(type="password" name="password" id="password" class="form-control m-3" placeholder="Enter password" required)

                    //-signIn button
                    - var buttonClass=['btn', 'btn-lg', 'btn-info', 'btn-block', 'm-3'];
                    button(class=buttonClass type="submit") Create Student and Parent Profiles