extends layout

block content
  .container-fluid
    main(role='main')
        .jumbotron
            h1
               | A College-Level Introduction to Computing Using Java
            p.lead
                | Through this course, students will learn the material of a typical  introductory computer science course at leading universities and will have the background for the AP Computer Science A exam.
            .row
                .col-md-auto
                    p
                      span.font-weight-bold.text-success Timing 
                      | Saturdays, 10:00 AM - 12:10 PM
                .col-md-auto
                    p
                      span.font-weight-bold.text-success Prerequisite  
                      | 1 year of experience with python, Java, or a similar language
                .col-md-auto
                    p
                      span.font-weight-bold.text-success Cost 
                      | $800/student 
        .div 
            .row
                .col
                    .card 
                        .card-body 
                            h5.card-title.text-primary Technical Requirements
                            p
                                span.text-body Computer with Eclipse 2020-06 and Java 14 installed and a strong wifi connection. A larger screen is an added bonus! <br>
                                span.font-italic <br>Software installation instructions will be provided
                .col
                    .card 
                        .card-body 
                            h5.card-title 
                                | Taught by 
                                span.text-primary Jawahar Chirimar
                            p.text-body
                                span.font-weight-bold.text-muted Cornell University: 
                                | B. Sc. Computer Science, B. A. Mathematics   
                            p.text-body
                                span.font-weight-bold.text-muted University of Pennsylvania: 
                                | Ph.D. Computer Science
                            a.btn.btn-info(href="https://www.linkedin.com/in/jawaharxchirimar/", role="button") Linkedin
                .col
                    .card 
                        .card-body 
                            h5.card-title.text-primary Dates Taught
                            p 
                            | 9/12, 9/19, 9/26, 10/3, 10/10, 10/17, 10/24, 11/7, 11/14, and 11/21.
                            p 
                            | Your instructor should be notified of any absences. As the course is fast paced, absences are highly discouraged.
        div.m-3
            h2 Outcomes
            div.container.justify-content-around
                .row
                    .col
                        .card 
                            .card-body Be able to design, code, and test small Java programs that meet the requirements expressed in English. This includes a basic understanding of top-down design. 
                    .col
                        .card 
                            .card-body Be able to use invariants, pre-conditions, and post-conditions in developing algorithms. 
                .row
                    .col
                        .card
                            .card-body Be fluent in the use of procedural statements - assignments, conditional statements, strings, loops, exceptions, method calls, recursion, and arrays. Understand the basic types and data structures in Java – array, ArrayList, Set, Map, etc.
                    .col
                        .card
                            .card-body Understand the concepts of object-oriented programming as used in Java: classes, subclasses, inheritance, and overriding. Understand the operational model of program execution for Java.
                .row
                    .col
                        .card
                            .card-body Understand the basics of time complexity and how to estimate it for simple algorithms.
                    .col
                        .card
                            .card-body Understand the concepts and implementation of searching, sorting, basic graph algorithms, and the basics of vector computation. 
                .row
                    .col
                        .card 
                            .card-body Students will learn the material of a typical  introductory computer science course at leading Universities and will have the background for the AP Computer Science A exam.
                    .col
                        .card
                            .card-body Students will complete multiple programming assignments, in-class quizzes, and homework covering language features, operating framework, algorithms, and programming methodology.


