extends layout

block content
  div.container  
    main(role='main')
        .jumbotron
            h1
               | A College-Level Introduction to Computing Using Java
            p.lead
                | Through this course, students will learn the material of a typical  introductory computer science course at leading universities and will have the background for the AP Computer Science A exam.
            .row
                .col 
                    p
                      span.font-weight-bold.text-success Timing 
                      | Saturdays, 10:00 AM - 12:10 PM
                .col 
                    p
                      span.font-weight-bold.text-success Format 
                      | Two 1-hr sessions, with 10-min break
                .col 
                    p
                      span.font-weight-bold.text-success Location 
                      | Hosted online via Zoom
        .container 
            .row
                .col
                    .card 
                        .card-body 
                            h5.card-title.text-dark Taught by Jawahar Chirimar

                            p 
                                span.font-weight-semibold.text-muted Cornell University 
                                | B. Sc. Computer Science and B. A. Mathematics
                                | Ph.D. Computer Science – University of Pennsylvania

                .col
                    .card 
                        .card-body 
                            h5.card-title Technical Requirements
                .col
                    .card 
                        .card-body 
                            h5.card-title Dates Taught
                    

                    

