extends layout

block content
  .container-fluid
    main(role='main')
        .jumbotron
            h1
               | A College-Level Introduction to Computing Using Java
            p.lead
                | A first-year University-level introduction to beginning computing - programming, algorithms, top-down design, types, data structures, and time complexity.
            .row
                .col-md-auto
                    p
                      span.font-weight-bold.text-success Timing: 
                      | Saturdays, 10:00 AM - 12 Noon
                .col-md-auto
                    p
                      span.font-weight-bold.text-success Prerequisite:
                      | 1 year of experience with python, Java, or a similar language
                .col-md-auto
                    p
                      span.font-weight-bold.text-success Cost:
                      | $800/student 
        div.m-4
            h2 Outcomes
            div.container.justify-content-around
                .row
                    .col-md
                        .card 
                            .card-body Be able to design, code, and test small programs that meet the requirements expressed in English – includes a basic understanding of top-down design. 
                    .col-md
                        .card 
                            .card-body Students will get the background needed for the AP Computer Science A exam, and test to place out of the first programming course at College.
                .row
                    .col-md
                        .card 
                            .card-body Students will learns of basics of top-down design and implement an alien invader arcade-style game.
                    .col-md
                        .card
                            .card-body Be able to use invariants, pre-conditions, and post-conditions in developing algorithms. 
                .row
                    .col-md
                        .card
                            .card-body Be fluent with procedural statements including strings, loops, exceptions, recursion, basic types and data structures (e.g array, ArrayList, Set and Map).
                    .col-md
                        .card
                            .card-body Understand object-oriented concepts as used in Java – classes, subclasses, inheritance, and overriding – and the program execution model in Java.
                .row
                    .col-md
                        .card
                            .card-body Understand the basics of time complexity (how long does a program take to run?) for simple algorithms.
                    .col-md
                        .card
                            .card-body Understand the basic implementation of searching, sorting, graph algorithms, and vector computation. 

        .div 
            .row
                .col-md
                    .card 
                        .card-body 
                            h5.card-title.text-primary Technical Requirements
                            p
                                span.text-body Computer with Eclipse 2020-06 and Java 14 installed and a strong wifi connection. A larger screen is an added bonus! <br>
                                span.font-italic <br>Software installation instructions will be provided
                .col-md
                    .card 
                        .card-body 
                            h5.card-title 
                                | Taught by 
                                span.text-primary Jawahar Chirimar
                            p.text-body
                                span.font-weight-bold.text-muted Cornell University: 
                                | B. Sc. Computer Science, B. A. Mathematics   
                            p.text-body
                                span.font-weight-bold.text-muted University of Pennsylvania: 
                                | Ph.D. Computer Science
                            a.btn.btn-info(href="https://www.linkedin.com/in/jawaharxchirimar/", role="button") Linkedin
                .col-md
                    .card 
                        .card-body 
                            h5.card-title.text-primary Dates
                            p 
                            | 9/12, 9/19, 9/26, 10/3, 10/10, 10/17, 10/24, 11/7, 11/14, and 11/21.
                            p 
                            | Your instructor should be notified of any absences. As the course is fast paced, absences are highly discouraged.



