extends layout

block content
  div.container  
    main(role='main')
        .jumbotron
            h1
               | A College-Level Introduction to Computing Using Java
            p.lead
                | Through this course, students will learn the material of a typical  introductory computer science course at leading universities and will have the background for the AP Computer Science A exam.
            .row
                .col 
                    p
                      span.font-weight-bold.text-success Timing 
                      | Saturdays, 10:00 AM - 12:10 PM
                .col 
                    p
                      span.font-weight-bold.text-success Format 
                      | Two 1-hr sessions, with 10-min break
                .col 
                    p
                      span.font-weight-bold.text-success Location 
                      | Hosted online via Zoom
        .container 
            .row
                .col
                    .card 
                        .card-body 
                            h5.card-title Technical Requirements
                            p
                                span.text-body Computer with Eclipse 2020-06 and Java 14 installed and a strong wifi connection. A larger screen is an added bonus! <br>
                                span.font-italic Software installation instructions will be provided
                .col
                    .card 
                        .card-body 
                            h5.card-title 
                                span.font-italic Taught by 
                                span.text-success Jawahar Chirimar
                            p.text-body
                                span.font-weight-bold.text-muted Cornell University: 
                                | B. Sc. Computer Science, B. A. Mathematics   
                            p.text-body
                                span.font-weight-bold.text-muted University of Pennsylvania: 
                                | Ph.D. Computer Science
                            a.btn.btn-info(href="https://www.linkedin.com/in/jawaharxchirimar/", role="button") Linkedin
                .col
                    .card 
                        .card-body 
                            h5.card-title Dates Taught
                    

                    

