extends layout

block content
  div.container  
    main(role='main')
          .jumbotron
            h2.display-4.text-center College-Level Introduction to Computing
            p.text-center
              | IICS's flagship course in computing is being offered online this semester with limited seats. Enroll for a university-level introduction to computational science that goes beyond hello world.
            div
              .row
                .col.text-right
                  a.btn.btn-lg.btn-success(href='/class', role='button') Learn More
                .col.text-left
                  a.btn.btn-lg.btn-success(href='/parentLogin', role='button') Login/Register
            
              
