doctype html
html
  head
    title= 'IICS'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    
    div    
      nav.navbar.navbar-expand-sm.navbar-light.bg-white
        a(href="/") 
          img.navbar-brand(src="/images/Logo.png" width="200px;")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon

        #navbar.collapse.navbar-collapse
          ul.navbar-nav.mr-auto 
            li.nav-item.active
              a.nav-link(href='/class') The Class
            li.nav-item.active
              a.nav-link(href='#') About
          ul.navbar-nav.active
            li.nav-item.active
               a.btn.btn-light.nav-link(href='/parentLogin') Parent Login

  body
    block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    div
      footer.footer
        p.m-4  @ IICS 2020